/*
	===================================================
	
	EcletticheVisioni 3.4 Theme Style CSS
	based on the Effector Theme by Carlo Franco
	
	http://effectortheme.tumblr.com/documentation

	Modified by GaySpirit
	http://gayspirit.me
	
	Beta Release: July 16, 2011
	Last Revision: September 24, 2011
	
	Change Log:
	- Added Tabs Features
	- 15/07/2011 Added XXX Photo Filter
	- 13/08/2011 Corrected top menu margins
	- 08/09/2011 Advertising Implementation
	- 24/09/2011 Changed Sidebar H3 color and size
	=================================================== 

*/

/*Default Style CSS*/
.pinned .menu a { color:#fff; color:rgba(255,255,255,0.8); }
.pinned .blog-title a, .pinned .menu a:hover, .pinned .pages a, #sidebar .pages a, #top-menu .pages a, .banner .blog-title a, #sidebar .blog-title a, #twitter h3, #sidebar h2, #sidebar h3, #footer h2, #footer-end a, .more-likes, .like_link a, #pagination .nextprev a, .page-sep { color: #fff; } 
.colored-panel, .type-answer .user-question, .pages a:hover, .invert .fixed .pages a:hover, .invert .pinned .pages a:hover, .invert #sidebar .pages a:hover, .more-likes:hover, .invert-topbar .fixed .pages a:hover, .like_link a:hover, .type-photoset .navi a:hover, #pagination .nextprev a:hover { background-color:#CCC; }
.corners .tl { border-left-color:#F55B2C; }
.corners .tr { border-right-color:#F55B2C; }
.corners .bl, .corners .br { border-bottom-color:#F55B2C; }
a, #footer-end a:hover { color:#F55B2C; }
a:hover { color:#FFFFFF; }
.copy a, .copy li:before, .type-chat .speaker, #notes-toggle:hover, ol.notes a, #relposts ul a, #disqus a, .qtcontent a { color:#000; }
.copy .post-title a:hover, .copy a:hover, ol.notes a:hover, #dsq-comments a:hover, #dsq-options a:hover, .qtcontent a:hover {background-color: #eee;}
.copy a:hover, ol.notes a:hover, #relposts ul a:hover { border-color:#ccc; }
#notes-toggle:hover .icon, .photo-btns a:hover { background-color:#F55B2C; }
.colored-panel, .colored-panel a, .colored-panel a:hover, .colored-panel .user-question, .pages a:hover, .invert-topbar .fixed .pages a:hover, .invert #sidebar .pages a:hover, .more-likes:hover, .like_link a:hover, #pagination .nextprev a:hover { color:#000; }
.type-quote .quote-text,.type-audio .audio-meta,.type-answer .user-question,.pages a:hover, .more-likes:hover, .like_link a:hover, #pagination .nextprev a:hover { text-shadow:1px 1px #bbb; }
ol.notes li.tumblelog_{PlaintextName} { background-color:#fbfbfb; }
ol.notes li.tumblelog_{PlaintextName} .action { font-weight:bold; }
#page, .inner { margin:0 auto; } 
#footer-end .gslogo { float: left; padding-right: 10px; margin-top: -5px; }
.copy p img:last-child[align=right] {margin: 0 0 20px 20px;}
.copy p img:last-child[align=left] {margin: 0 20px 20px 0;}
#footer-block { float: left; width:210px; margin-right:20px; padding:0px;}
.blog-title, #sidebar h1, #sidebar h2, #sidebar h3, #footer h1, #footer h2, #footer h3 {font-family: Helvetica Neue, Arial, sans-serif;}
.menu-labels .menu {padding-top: 15px;}

/*Customised CSS*/

body {background-color: #464850; color: #8E8F96; font-family: Helvetica, Arial, sans-serif;}
.pinned .blog-title { display: none;}
.content-700 .banner img { max-width: 1040px;}
div { display: block;}
a {color: #fff; text-decoration: underline;}
a:hover {text-decoration:underline;}
h2 { display: block;}
.banner div { float:left;}
#main {margin: auto;width: 1000px;}
.content-700 #page, .content-700 .inner {width: 1040px;}
.content-700 .right-sidebar #content {margin-right: 40px;}
#sidebar {width: 300px;}
.post h2 {font-size: 2em; font-weight: bold;}
.blog-title{color: #8E8F96; font-size: 2em; font-weight: bold;}
div.current-basic {width: 100%;-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
background: white;
-webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);
box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);}
.menu .label {display: block; font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
#top-menu {margin-top: 6px; margin-bottom:10px;}
#top-menu .pages a {margin-right: 16px; background: rgba(255,255,255,0.05);}
#top-menu .pages a:hover {background: #ccc; color: #000;}
#top-menu .pages li {display: block; float: left;}
#top-menu .pages { float: left; margin: 13px 0;}
#sidebar-block a img {display:block; padding-bottom:6px; margin:auto;}
#top-wrapper {height:400px; margin-bottom:10px; display:none;}
.footer-blocks  {width:25%; margin-bottom:10px; float:left;}
#sidebar h3, #footer h3 { font-size: 12px; font-weight: bold; margin-bottom: 8px;}
.copy .tag_editorial img {width:640px; margin-auto}

/*Page Tweak*/
input[id$="xpm0-hide"] {display: none ! important;}

#gallerylist p {display:block; border: 1px solid rgba(255, 255, 255, 0.1);}
.breadcrumb {display: inline;}

/*XXX photo filter*/

.xxx {display: none;}
.tag_xxx .xxx{display:inline-block;width:90%;height:99%;background:#464850;filter:alpha(opacity=99);opacity:0.99;text-align:center;vertical-align:middle;position:absolute;z-index:4;top:10px;right:40px;padding-top:45%;margin:auto;}

/*Ads*/
 #top_ads {clear:both; width:1042px; border:0; margin:0; padding: 0;}
 #bannerad {width:728px !important; important; border: 1px solid rgba(255, 255, 255, 0.1);}
 #stripe {float: right; width:300px !important;}
 #topad {width:300px !important; height: 250px ! important; border: 1px solid rgba(255, 255, 255, 0.1);}
 #sidebarad {width:300px !important; min-height: 100px ! important; border: 1px solid rgba(255, 255, 255, 0.1);}
 #smallads {width:300px !important; min-height: 100px ! important; border: 1px solid rgba(255, 255, 255, 0.1);}
 #blogads {width:300px !important; min-height: 100px ! important; border: 1px solid rgba(255, 255, 255, 0.1);}
 
  /*Gallery Pages*/
 #post- #tumblrinlink {width: 680px !important; margin-left: -32px !important; border: 0 !important;}
 #post- #inlink-list ul li {padding: 4px !important;}
 #post- #inlink-list li::before {content: none;}
 #post- li.inlink-item {height: 150px !important;}
 #post- li.inlink-item p {padding-top: 1px !important; position: relative !important; height: 40px !important; max-width: 140px !important;}

 /*Amazon Webstore*/
 .bookstore {margin-left: -110px; margin-right: -100px; z-index 4;}
.bookstore iframe {-webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; z-index 5; -webkit-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);
box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.03) inset, 0 0 0 1px rgba(0, 0, 0, 0.15);}
/* Tabs CSS */

.ui-tabs-panel{
-moz-column-count: 5;
-moz-column-gap: 1.5em;
-moz-column-rule: none;
-webkit-column-count: 5;
-webkit-column-gap: 1.5em;
-webkit-column-rule: none;
/* future proof */
column-count: 5;
column-gap: 1.5em;
column-rule: none;
padding:5px;
font-size: 88%;
}
#tabs-link-1, #tabs-link-2, #tabs-link-3, #tabs-link-4 {
-moz-column-count: 2;
-moz-column-gap: 1.5em;
-moz-column-rule: none;
-webkit-column-count: 2;
-webkit-column-gap: 1.5em;
-webkit-column-rule: none;
/* future proof */
column-count: 2;
column-gap: 1.5em;
column-rule: none;
padding:5px;
font-size: 82%;
line-height: 1.2em;
}
.tabs-wrapper {
display:none;
}
.tabs-wrapper .post-shadow {
background: url(http://static.tumblr.com/jmczp4p/OTfli5du2/post_shadow.png) left bottom;
width: 100%;
height: 10px;
display: block;
position: absolute;
left: 0;
bottom: 20px;
z-index: 2;
}
.ui-tabs .ui-tabs-nav li a {
padding: .5em .5em;
}

#tabs a, #tabs-link a {
color: black;
}

#tabs a:hover, #tabs-link a:hover {
color: black;
text-decoration: underline;
border-color: #CCC;
background-color: #EEE;
}

#tabs a:visited, #tabs-link a:visited {
color: #777;
}

#tabs-link-menu {
font-size: 88%;
}

/* Link-In CSS */

.not-found h1 {text-transform: capitalize;}
.photo-panel img {width: 100%;}
.not-found #relposts-title {display:none;}
